.chat {
  border: 1px solid rgb(224, 178, 178);
  box-shadow: 0 0 30px 7px rgb(187, 56, 56), inset 0 0 20px 3px rgb(187, 56, 56);
}

.content__timestamp {
  font-size: 12px;
  opacity: 0.6;
}

.content__new-chat-num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  font-size: 11px;
  border-radius: 50%;
  background-color: rgba(255, 62, 62, 0.7);
  margin-top: 2px;
}

.content__new-chat-num.none {
  display: none;
}
