.container {
  width: 325px;
  height: 480px;
  padding: 10px 10px 0 20px;
  animation: transform-rtl 1.5s ease;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  margin-bottom: 5px;
  padding-right: 15px;
}

.title .title__column:first-child {
  font-weight: 600;
}
.title .title__column:last-child {
  display: flex;
  justify-content: space-between;
}

.title__icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  cursor: pointer;
  border-radius: 50%;
  color: rgb(223, 223, 223);
}

.title__icon:hover {
  background-color: rgb(75, 75, 75);
}

.title__icon:hover .icon__plus {
  background-color: rgb(75, 75, 75);
}

.title__icon:active {
  background-color: rgb(110, 110, 110);
}

.title__icon:active .icon__plus {
  background-color: rgb(110, 110, 110);
}

.title__icon .icon__plus {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 13px;
  top: 16px;
  right: 2px;
  border-radius: 50%;
  background-color: #222;
  font-size: 18px;
}

.search {
  display: flex;
  width: 92%;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(83, 83, 83);
  align-items: center;
  margin-bottom: 15px;
}

.search__icon,
.search__input {
  margin-left: 10px;
}

.search .search__icon {
  color: rgba(255, 255, 255, 0.9);
}

.search .search__input {
  background-color: inherit;
  border: none;
  outline: none;
  width: 200px;
  height: 20px;
  color: rgba(255, 255, 255, 0.9);
}

.search .search__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.list {
  height: 375px;
  overflow: auto;
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-button {
  display: none;
}

.list::-webkit-scrollbar-thumb {
  background-color: rgba(80, 80, 80, 0.7);
  border-radius: 4px;
}
.list::-webkit-scrollbar-thumb:hover {
  background-color: rgb(80, 80, 80);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  transition: transform 0.5s ease;
}

.content:hover {
  transform: scale(0.95);
}

.content__column:first-child {
  align-items: center;
}
.content__column:last-child {
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin-right: 5px;
}

.content__profile-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__avatar {
  width: 45px;
  height: 45px;
  border-radius: 40%;
  display: inline-block;
}

.content__avatar.me {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(75, 75, 75);
  font-size: 20px;
}

.content__avatar.people {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.content__avatar.ss-avatar {
  width: 21px;
  height: 21px;
}

.content__avatar.b-avatar {
  width: 55px;
  height: 55px;
}

.content__column {
  display: flex;
}

.content__title {
  margin-left: 13px;
}

.content__subtitle {
  font-size: 14px;
  opacity: 0.8;
}

.content__name {
  font-weight: 600;
  font-size: 15px;
}

.content__name span {
  font-size: 12px;
  opacity: 0.8;
}

@keyframes transform-rtl {
  from {
    transform: translateX(500px);
  }
  to {
    transform: translateX(0);
  }
}
