.more {
  border: 1px solid rgb(182, 255, 192);
  box-shadow: 0 0 30px 7px rgb(0, 136, 29), inset 0 0 20px 3px rgb(0, 136, 29);
}

.more hr {
  opacity: 0.6;
}

.more__container {
  padding-right: 25px;
  border-radius: 5px;
}

.content__btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: rgb(80, 80, 80);
  border: 1px solid rgb(100, 100, 100);
  border-radius: 10px;
  margin-top: 10px;
}

.btns__column {
  width: 140px;
  height: 40px;
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
}

.btns__column:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.btns__column i {
  font-size: 20px;
}

.content__menu {
  width: 100%;
  height: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: 30px 0;
}

.menu__column {
  width: 60px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
}

.menu__column:hover {
  background-color: rgb(90, 90, 90);
}

.menu__column .menu__text {
  font-size: 13px;
  opacity: 0.9;
}

.menu__column:hover .menu__text {
  opacity: 1;
}

.content__weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin-top: 20px;
}

.content__weather i {
  color: rgb(255, 230, 0);
}

.border {
  display: inline-block;
  width: 1px;
  height: 22px;
  border-right: 1px solid rgb(100, 100, 100);
}
